// sidebar
$menuText: #727272;
$menuActiveText:#409EFF;
$subMenuActiveText: #239ae7; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#e1effe;

$subMenuBg:#c8d2e6 !important;
$subMenuHover:#e1effe;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
