package ${package.Entity}.vo;

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${chainModel})
import lombok.experimental.Accessors;
#end
#end
import com.mxy.common.core.entity.BaseVO;
import ${package.Entity}.${entity};

/**
 * <p>
 * $!{table.comment}-VO
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
#end

#if(${superEntityClass})
public class ${entity}VO extends BaseVO<${entity}> {
#end

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
  #if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
  #end
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------

}
