.DS_Store
node_modules/
dist/
npm-debug.sysLog*
yarn-debug.sysLog*
yarn-error.sysLog*
**/*.sysLog

tests/**/coverage/
tests/e2e/reports
selenium-debug.sysLog

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
