<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxy.system.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mxy.common.core.entity.SysConfig">
        <id column="sys_id" property="sysId" />
        <result column="config_name" property="configName" />
        <result column="config_value" property="configValue" />
        <result column="config_type" property="configType" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WHERE 1 = 1
    <if test="sysId!=null and sysId!=''">
        AND sys_id = #{sysId}
    </if>
    <if test="configName!=null and configName!=''">
        AND config_name = #{configName}
    </if>
    <if test="configValue!=null and configValue!=''">
        AND config_value = #{configValue}
    </if>
    <if test="configType!=null and configType!=''">
        AND config_type = #{configType}
    </if>
    <if test="status!=null and status!=''">
        AND status = #{status}
    </if>
    <if test="isDelete!=null and isDelete!=''">
        AND is_delete = #{isDelete}
    </if>
    <if test="createUser!=null and createUser!=''">
        AND create_user = #{createUser}
    </if>
    <if test="createTime!=null and createTime!=''">
        AND create_time = #{createTime}
    </if>
    <if test="updateUser!=null and updateUser!=''">
        AND update_user = #{updateUser}
    </if>
    <if test="updateTime!=null and updateTime!=''">
        AND update_time = #{updateTime}
    </if>
    <if test="remark!=null and remark!=''">
        AND remark = #{remark}
    </if>
    </sql>

</mapper>
