<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxy.system.mapper.SysSmsSendLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mxy.common.core.entity.SysSmsSendLog">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="request" property="request" />
        <result column="response" property="response" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WHERE 1 = 1
    <if test="id!=null and id!=''">
        AND id = #{id}
    </if>
    <if test="phone!=null and phone!=''">
        AND phone = #{phone}
    </if>
    <if test="request!=null and request!=''">
        AND request = #{request}
    </if>
    <if test="response!=null and response!=''">
        AND response = #{response}
    </if>
    <if test="createTime!=null and createTime!=''">
        AND create_time = #{createTime}
    </if>
    </sql>

</mapper>
