<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxy.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mxy.common.core.entity.SysUser">
        <id column="user_id" property="userId" />
        <result column="nick_name" property="nickName" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="user_type" property="userType" />
        <result column="email" property="email" />
        <result column="phone_number" property="phoneNumber" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
        <result column="registration_type" property="registrationType" />
        <result column="uuid" property="uuid" />
        <result column="login_count" property="loginCount" />
        <result column="os" property="os" />
        <result column="browser" property="browser" />
        <result column="ip_source" property="ipSource" />
        <result column="valid_code" property="validCode" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="login_ip" property="loginIp" />
        <result column="login_date" property="loginDate" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        WHERE 1 = 1
    <if test="userId!=null and userId!=''">
        AND user_id = #{userId}
    </if>
    <if test="nickName!=null and nickName!=''">
        AND nick_name = #{nickName}
    </if>
    <if test="username!=null and username!=''">
        AND username = #{username}
    </if>
    <if test="password!=null and password!=''">
        AND password = #{password}
    </if>
    <if test="userType!=null and userType!=''">
        AND user_type = #{userType}
    </if>
    <if test="email!=null and email!=''">
        AND email = #{email}
    </if>
    <if test="phoneNumber!=null and phoneNumber!=''">
        AND phone_number = #{phoneNumber}
    </if>
    <if test="sex!=null and sex!=''">
        AND sex = #{sex}
    </if>
    <if test="avatar!=null and avatar!=''">
        AND avatar = #{avatar}
    </if>
    <if test="registrationType!=null and registrationType!=''">
        AND registration_type = #{registrationType}
    </if>
    <if test="uuid!=null and uuid!=''">
        AND uuid = #{uuid}
    </if>
    <if test="loginCount!=null and loginCount!=''">
        AND login_count = #{loginCount}
    </if>
    <if test="os!=null and os!=''">
        AND os = #{os}
    </if>
    <if test="browser!=null and browser!=''">
        AND browser = #{browser}
    </if>
    <if test="ipSource!=null and ipSource!=''">
        AND ip_source = #{ipSource}
    </if>
    <if test="validCode!=null and validCode!=''">
        AND valid_code = #{validCode}
    </if>
    <if test="status!=null and status!=''">
        AND status = #{status}
    </if>
    <if test="isDelete!=null and isDelete!=''">
        AND is_delete = #{isDelete}
    </if>
    <if test="loginIp!=null and loginIp!=''">
        AND login_ip = #{loginIp}
    </if>
    <if test="loginDate!=null and loginDate!=''">
        AND login_date = #{loginDate}
    </if>
    <if test="createUser!=null and createUser!=''">
        AND create_user = #{createUser}
    </if>
    <if test="createTime!=null and createTime!=''">
        AND create_time = #{createTime}
    </if>
    <if test="updateUser!=null and updateUser!=''">
        AND update_user = #{updateUser}
    </if>
    <if test="updateTime!=null and updateTime!=''">
        AND update_time = #{updateTime}
    </if>
    <if test="remark!=null and remark!=''">
        AND remark = #{remark}
    </if>
    </sql>


    <!-- 查询用户的所有权限 -->
    <select id="selectSysMenuByUserId" resultType="com.mxy.common.core.entity.SysMenu">
        SELECT DISTINCT m.* FROM sys_user_role ur
                                     LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
                                     LEFT JOIN sys_menu m ON rm.menu_id = m.menu_id
        WHERE ur.user_id = #{userId}
    </select>

    <!-- 查询用户所有角色 -->
    <select id="selectSysRoleByUserId" resultType="com.mxy.common.core.entity.SysRole">
        SELECT sr.* FROM sys_role sr
                             LEFT JOIN sys_user_role se ON se.role_id = sr.role_id
        WHERE se.user_id = #{userId}
    </select>

</mapper>
